:root {
    --nav-bg: #979797;
    --nav-color: black;
    --nav-color-hover: white;
    --btn-bg: #f1f1f1;
    --btn-bg-hover: #555555;
    --active-bg: #4CAF50;
    --active: white;
    --sub-gb: #bdbdbd;
    --sub-color: white;
    --logout: #af604c;
    --logout-hover: #c74626;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--nav-bg);
    height: 100vh;
    position: fixed;
}

li a {
    display: block;
    color: var(--nav-color);
    background-color: var(--btn-bg);
    padding: 8px 16px;
    text-decoration: none;
    user-select: none;
}

li a:hover {
    background-color: var(--btn-bg-hover);
    color: var(--nav-color-hover);
}

li a.active {
    background-color: var(--active-bg);
    color: var(--active);
}

li a.sub {
    background-color: var(--sub-gb);
    color: var(--nav-color);
}

li a.sub:hover {
    background-color: var(--btn-bg-hover);
    color: var(--nav-color-hover);
}

#logoutbtn {
    background-color: var(--logout);
    color: var(--active);
}

#logoutbtn:hover {
    background-color: var(--logout-hover);
}

.submenu {
    display: none;
}