:root {
  --bg: #333;
  --titles: #f4f4f9;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg);
    color: var(--titles);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#container {
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#sidebar {

}

#content {
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
    color: var(--titles);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--titles);
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    user-select: none;
    /*color: #555;*/
    color: var(--titles);
    margin-bottom: 8px;
}

button {
    width: 100%;
    padding: 14px;
    margin: 3px;
    background-color: #4CAF50;
    color: white;
    border-style: solid;
    border-color: #4CAF50;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #45a049;
    border-color: #45a049;
}

button.selected {
    border-color: #f4f4f9;
}

#admButton {
    background-color: #4c5eaf;
    border-color: #4c5eaf;
}

#admButton:hover {
    background-color: #555e88;
    border-color: #555e88;
}

#logoutBtn {
    background-color: #af604c;
    border-color: #af604c;
}

#logoutBtn:hover {
    background-color: #c74626;
    border-color: #c74626;
}

@media (max-width: 600px) {
    .login {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }
}
