:root {
  --bg: #333;
  --titles: #f4f4f9;
  --btn-color: #4CAF50;
  --btn-hover: #45a049;
  --btn-secondary: #4c5eaf;
  --btn-secondary-hover: #555e88; 
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg);
    color: var(--titles);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#container {
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

#sidebar {
    width: 200px;
    height: 100%;
}

#content {
    margin: 20px;
}

.panel {
    padding: 40px;
}

.blurry {
    color: transparent;
    text-shadow: 0 0 8px #000;
}

h1 {
    margin-bottom: 20px;
    color: var(--titles);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--titles);
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    user-select: none;
    /*color: #555;*/
    color: var(--titles);
    margin-bottom: 8px;
    margin-top: 8px;
}

button {
    width: 100%;
    padding: 14px;
    margin: 3px;
    background-color: var(--btn-color);
    color: white;
    border-style: solid;
    border-color: var(--btn-color);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: var(--btn-hover);
    border-color: var(--btn-hover);
}

table, th, td {
    padding: 15px;
    border: 1px solid var(--bg);
    border-collapse: collapse;
    background-color: var(--titles);
    color: var(--bg);
}

@media (max-width: 600px) {
    .login {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }
}
